{% extends 'layout.html' %}
{% block title %}
    <title>HOME</title>
{% endblock title %}
{% block content %}
    <nav>
        <ul class="topnav" id="dropdownClick">
            <li><a href="home"><i class="fas fa-home" ></i> Home</a></li>
            <li><a href="prediction"><i class="fas fa-chart-line"></i> URL CLASSIFIER</a></li>
            <li><a href="about"><i class="fas fa-address-card"></i> About</a></li>
            <li><a href="https://www.consolelancer.com/Service"><i class="fas fa-server"></i> Services</a></li>
            <li><a href="https://www.consolelancer.com/Contact"><i class="fas fa-phone-volume"></i> Contact</a></li>
            <li class="topnav-right">Follow Us  <a href = "www.linkedin.com/in/rupesh-keesaram"><i class="fab fa-linkedin"></i></a></li>
            <li class="topnav-right"><a href="https://www.instagram.com/programmers_world_2k/"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </nav>
{% endblock content %}